.DS_Store
Thumbs.db
*.log
SCAPConfig.txt

# Hexo
hexo/node_modules/
hexo/public/
hexo/db.json
hexo/.deploy*/
hexo/_multiconfig.yml

# API
api/**/node_modules/
api/**/*.db

# 敏感配置（SMTP密码等）
api/**/src/config.js