<% cards.forEach(function(textcard) { %>
    <div class="dual-card">
    <!-- 左侧图片内容 -->
    <div class="textcard--image">
        <img src="<%= textcard.img %>" alt="示例图片">
    </div>
    <!-- 右侧文字内容 -->
    <div class="textcard--text">
        <div class="textcard__icon">
        <svg viewBox="0 0 24 24">
            <path d="M7 4v3h10V4H7zm-4 7v3h18v-3H3zm4 7v3h10v-3H7z"/>
        </svg>
        </div>
        <h2 class="textcard__title"><%= textcard.title %></h2>
        <p class="textcard__text">
        <%= textcard.description %>
        </p>
        <a href="<%= textcard.link %>"  class="textcard__btn">
        Learn more<span class="textcard__btn-icon">＋</span>
        </a>
    </div>
</div>
<div style="height: 20px;"></div>
<% }); %>