.rolling-text-inner-d7027f4e-5c22-4193-9bab-3b1bcec3cd0b {
  --font-size: 23px;
  --text: var(--token-9811e40b-3ed8-4237-98e5-61535bb22d2f, rgb(255, 255, 255));
  --line-height-abs: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: flex;
  overflow: hidden;
  width: max-content;
  font-family: 'Inter Display', 'Inter Display Placeholder', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0 var(--line-height-abs) 0 var(--text);
}
.rolling-text-inner-d7027f4e-5c22-4193-9bab-3b1bcec3cd0b span {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: pre;
  flex-shrink: 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: 20px;
  color: var(--text);
}
