.rolling-text-inner-06a6750b-2cb6-47c3-843f-42647bd3df13 {
  --font-size: 14px;
  --text: var(--token-af1df47b-ea84-448e-bdf0-a5ce0f875a59, rgb(153, 153, 153));
  --line-height-abs: 17px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: flex;
  overflow: hidden;
  width: max-content;
  font-family: 'Inter Display', 'Inter Display Placeholder', sans-serif;
  font-size: 14px;
  text-transform: none;
  user-select: none;
  text-shadow: 0 var(--line-height-abs) 0 var(--text);
}
.rolling-text-inner-06a6750b-2cb6-47c3-843f-42647bd3df13 span {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: pre;
  flex-shrink: 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: 17px;
  color: var(--text);
}
